*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.hero, footer{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

.main-text{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.secondary-text, .hero a{
    font-size: 18px;
    color: #E5E7EB;
}

.header-logo{
    font-size: 24px;
    color: #f9faf8;
}


.information{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.section-two{
    background-color: #e5e7eb;

}
.quote{
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: lighter;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 200px;
}

ul{
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 200px;
    gap: 30px
}

.header-content{
    padding: 5px ;
    
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.header-container img{
    width: 500px;
    height: 100%;
    flex-shrink: 0;
}

.signup{
    padding: 10px 30px;
    border-radius: 10px;
}

.section-one{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}  

.information{
    margin:20px auto;   
    
}

.card{
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 300px;
    justify-content: center;
    align-items: center;
}

.card-text{
    text-align: center;
}

.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.card-img{
    width: 150px;
    height: 150px;
    background-color: transparent;
    border: 2px solid #3882f6;
    border-radius: 10px;
    margin-bottom: 10px;
}

.section-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 100px 300px;
}

.author{
    align-self: flex-end;
    margin-right: 20px;
    font-weight: bold;
}

.container{
    background-color: #3882f6;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
    border: 2px solid transparent;
    border-radius: 10px;
}

.section-three{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 100px;
}

.container-text{
    display: flex;
    flex-direction: column;
    justify-content: center ;
    color: #fff;
}

.container-text p{
    font-size: 200;
}

.container button{
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 5px 40px;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
    padding: 20px 30px;
}